html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.main {
    margin: 40px 0;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    background: rgba(255, 101, 12, 0.938);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.card-item {
    padding: 10px;
    height: 100%;
}

.card-item span {
    font-weight: 500;
}

.MuiButton-label {
    color: #fff;
    font-size: 1rem;
}

.about {
    margin-top: 40px;
}

.about-name {
    margin: 0 0 10px 0;
}

.about-subtitle {
    margin: 0;
    font-weight: 500;
}
